<div class="container mx-auto py-10">
  <div style="display: flex; justify-content: center; align-items: center; height: 80px;">
    <%= image_tag 'logo.png', alt: 'Logo', class: 'h-16' %>
  </div>
  <br>
  <br>
  <br>
  <h1 class="text-3xl font-bold text-center mb-6">Análise de Arquivo Excel da Light</h1>

  <%= form_with url: process_file_analyses_path, local: false, html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" } do |form| %>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Selecione um arquivo Excel:</label>
      <%= form.file_field :file, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit "Processar", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <div id="result" class="mt-10"></div>
</div>
